# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [2]:
import numpy as np
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv '
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### 3) See the first 10 entries

In [4]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### 4) What is the number of observations in the dataset?

In [5]:
#Solution 1
chipo.shape[0]

4622

In [6]:
#Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### 5) What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

### 6) Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [9]:
# Solution 1
c = chipo.groupby('item_name').quantity.sum()
c = c.sort_values(ascending=False)
c.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### 8) For the most-ordered item, how many items were ordered?

In [10]:
# Solution 1
c = chipo.groupby('item_name').quantity.sum()
c = c.sort_values(ascending=False)
c.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### 9) What was the most ordered item in the choice_description column?

In [11]:
# Solution 1
c = chipo.groupby('choice_description').quantity.sum()
c = c.sort_values(ascending=False)
c.head(1)
# Diet Coke 159

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### 10) How many items were ordered in total?

In [12]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### 11) Turn the item price into a float

In [13]:
def dollarizer(x):
    return float(x[1:-1])

In [14]:
chipo.item_price = chipo.item_price.apply(dollarizer)

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [15]:
revenue = (chipo['quantity']* chipo['item_price']).sum()
revenue

39237.02

### 13) How many orders were made in the period?

In [16]:
orders = chipo.order_id.value_counts().count()
orders

1834

### 14) What is the average revenue amount per order?

In [17]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

### 15) How many different items are sold?

In [18]:
# Solution 1
chipo.item_name.nunique()

50

In [19]:
# Solution 2
chipo.item_name.value_counts().count()

50