# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [16]:
#lets start some important imports

import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv '
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [32]:
Chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")
Chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### 3) See the first 10 entries

In [33]:
Chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [34]:
Chipo.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [35]:
Chipo.shape[1]

5

### 6) Print the name of all the columns.

In [36]:
Chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [37]:
ans = Chipo.groupby("item_name")["quantity"].sum()
ans = ans.sort_values(ascending = False)
ans.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [38]:
ans.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### 8) For the most-ordered item, how many items were ordered?

In [39]:
ans.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### 9) What was the most ordered item in the choice_description column?

In [40]:
ans2 = Chipo.groupby("choice_description")["quantity"].sum()
ans2 = ans2.sort_values(ascending = False)
ans2.head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### 10) How many items were ordered in total?

In [41]:
ans2.head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### 11) Turn the item price into a float

In [42]:
Chipo["item_price"] = Chipo["item_price"].str.replace('$', '', regex=False).astype(float)
Chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [29]:
revenue = (Chipo["quantity"]*Chipo["item_price"]).sum()
revenue

39237.02

### 13) How many orders were made in the period?

In [45]:
Chipo["order_id"].value_counts().count()

1834

### 14) What is the average revenue amount per order?

In [43]:
revenue / 1834

21.39423118865867

### 15) How many different items are sold?

In [54]:
Chipo["item_name"].nunique()

50